<h2>Edit <%= @profile.user_name %></h2>

    <%= form_for @profile do |f| %>

    <div class="form-group">
      <%= f.label :avatar  %>
      <%= f.file_field :avatar %>
    </div>


    <div class="form-group">
      <%= f.label :user_name  %>
      <%= f.text_field :user_name, autofocus: true, class: 'form-control'  %>
    </div>

    <div class="form-group">
      <%= f.label :hi_quote  %>
      <p>Your Hi-Quote does not have to be <em>strictly</em> haiku format, but the closer the better. This is so you can use traditional styling if you would like.</p>
      <%= f.text_area :hi_quote, autofocus: true, class: 'form-control'  %>
    </div>

    <div class="form-group">
      <%= f.submit "Update", class: "btn btn-primary" %>
    </div>

    <% end %>

    <h5>Cancel my account</h5>

    <%= link_to "Back", :back %>
