<% if current_user.id == @profile.user_id %>
<h1>Welcome, <%= current_user.profile.user_name %>!</h1>
<%= image_tag(@profile.avatar(:medium)) %>
<%= link_to "Edit your profile", edit_profile_path(@profile) %>
<% else %>

<h1><%= @profile.user_name %>'s Profile</h1>
<%= image_tag(@profile.avatar(:medium)) %>
<% end %>

  <div class="well">
    <p>(The Hi-Quote is not strictly 5-7-5 haiku, but the poet's take on the form, or translated traditional Japanese haiku)</p>
    <h4>"<%= @profile.hi_quote_one %></h4>
    <h4><%= @profile.hi_quote_two %></h4>
    <h4><%= @profile.hi_quote_three %>"</h4>
  </div>

<h2>this one will have user avatar, recent HiCoo's and comments</h2>
