<br>
<!-- Mini profile display -->
<div class="col-xs-3">
  <div class="panel panel-default panel-profile ">
    <div class="panel-heading pro-heading"></div>
    <div class="panel-body pro-body text-center">
      <%= image_tag(@profile.avatar(:thumb), :class => "panel-profile-img") %>
      <h5 class="panel-title"><%= @profile.user_name %></h5>
      <br>
      <p class="bio">"<%= @profile.hi_quote_one %></p>
      <p class="bio"><%= @profile.hi_quote_two %></p>
      <p class="bio"><%= @profile.hi_quote_three %>"</p>
      <hr>
      <ul class="list-inline mini-list-pro">
        <ul class="list-unstyled col-xs-3">
          <li>Coo
             <li><%= @profile.hicoos.length %></li>
          </li>
        </ul>
        <ul class="list-unstyled col-xs-3">
          <li>Something
             <li><%= @profile.hicoos.length %></li>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</div>

<!-- Main hi coo display -->
<div class="col-xs-6">
  <div class="main-page-post-header well">
    <h4>I'll put a post widget here?</h4>
  </div>
  <div class="main-page-coo-reload well">
    <h6 class='home-refresh'><%= link_to 'Find new Coo', home_index_path %></h6>
  </div>
  <% if @hicoos.any? %>
    <% @hicoos.each do |coo| %>
      <div class="well">
        <div class="mini-header">
          <%= image_tag(coo.profile.avatar(:thumb), :class => "round-image-50 left") %>
          <h5><%= coo.author %></h5>
        </div>
        <div class="mini-coo-box">
          <h5><%= coo.title %></h5>
          <h4><%= coo.line_one %></h4>
          <h4><%= coo.line_two %></h4>
          <h4><%= coo.line_three %></h4>
        </div>
        <p><%= coo.created_at.strftime("%Y-%m-%d") %></p>
        <hr>
        <ul class="list-inline" id="mini-list-nav">
          <li>comment</li>
          <li>stuff</li>
          <li>like</li>
          <li>not sure</li>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>

<!-- Embedded twitter -->
<div class="col-xs-3">
  <a class="twitter-timeline"  href="https://twitter.com/hashtag/haiku" data-widget-id="890020578039549952">#haiku Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
