<h1>Main page with all the haiku love coming soon.</h1>
<p>Some stuff on the site, the rules, where to explore.</p>
<br>
<h2><%= link_to "Compose a Hi Coo", new_hicoo_path %>
  <br>
  <hr>
</h2>
<div class="col-xs-3 well">
  <h3>User info here</h3>
</div>
<div class="col-xs-6">
  <% if @hicoos.any? %>
    <% @hicoos.each do |coo| %>
      <div class="well">
        <div class="mini-header">
          <%= image_tag(coo.profile.avatar(:thumb), :class => "round-image-50 left") %>
          <p><%= coo.author %></p>
        </div>
        <div class="mini-coo-box">
          <h5><%= coo.title %></h5>
          <h4><%= coo.line_one %></h4>
          <h4><%= coo.line_two %></h4>
          <h4><%= coo.line_three %></h4>
        </div>
        <p><%= coo.created_at.strftime("%Y-%m-%d") %></p>
      </div>
    <% end %>
  <% end %>
</div>
<div class="col-xs-3 well">
  <h3>Embed twit haiku here?</h3>
</div>
