<!DOCTYPE html>
<html>
  <head>
    <title>HiCoo</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Ceviche+One" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <h1 class='headline'>Hi Coo!</h1>
      <ul class="nav navbar-nav navbar-left">
        <% if current_user %>
          <li class="round-image-50"><%= image_tag(current_user.profile.avatar(:thumb)) %></li>

          <li><%= link_to current_user.profile.user_name %>
        <% end %>
        <% if current_user && current_user.admin %>
          <li><%= link_to 'Admin', rails_admin_path %></li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", home_index_path %></li>
          <% if current_user %>
          <li><%= link_to 'All Coo', hicoos_path %></li>
          <li><%= link_to 'All Poets', profiles_path %></li>
          <li><%= link_to 'My Profile', profile_path(current_user.id) %></li>

          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to 'Login', new_user_session_path %></li>
          <% end %>
      </ul>
    </div>
    <div class="container main">
      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <%= yield %>
    </div>

  </body>
</html>
